{% extends 'base.html' %}

{% block content %}
    
    <div class="row text-center">
        <div class="col">
            <h1>Welcome to Twitter</h1>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form class="form" id="tweet-create-form" action="/create/" method="POST">
                {% csrf_token %}
                <div class="d-none alert alert-danger"id="tweet-create-form-error"></div>
                <input type="hidden" value="/" name="next">
                <textarea required="required" name="content" placeholder="Your tweet" class="form-control"></textarea>
                <button type="submit" class="btn btn-primary">Tweet</button>
            </form>
        </div>
    </div>

    <div class="row" id="tweets">
        <!-- Replace me -->
        Loading...
    </div>

    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function handleTweetFormError(msg, display) {
            const errorDiv = document.getElementById('tweet-create-form-error');
            if (display === true) {
                errorDiv.setAttribute("class", "alert alert-danger d-block");
                errorDiv.innerHTML = msg;
            }
            
        }

        function handleTweetCreateSubmit(event) {

            event.preventDefault();
            const myForm = event.target;
            const myFormData = new FormData(myForm);
            const url = myForm.getAttribute("action"); // /create
            const method = myForm.getAttribute("method"); // POST
            const xhr = new XMLHttpRequest();
            xhr.open(method, url);

            // This is to set the AJAX request as an XMLHttpRequest
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

            // This dynamically changes the page to include the new tweet
            xhr.onload = function() {

                if (xhr.status === 201) {
                    handleTweetFormError("", false);
                    const newTweet = xhr.response;
                    
                // Needs to be parsed since the responseType hasn't been defined to JSON.
                    const newTweetJson = JSON.parse(newTweet);
                    const newTweetElement = formatTweetElement(newTweetJson);   
                    const ogHTML = tweetsContainerElement.innerHTML;
                    tweetsContainerElement.innerHTML = newTweetElement + ogHTML;
                    myForm.reset();
                } else if (xhr.status === 400) {
                    const errorJson = xhr.response;
                    const contentError = errorJson.content;
                    let contentErrorMessage;
                    if (contentError) {
                        contentErrorMessage = contentError[0];
                        if (contentErrorMessage) {
                            handleTweetFormError(contentErrorMessage, true);
                        } else {
                            alert("An error occurred, please try again.")
                        }
                    } else {
                        alert("An error occurred, please try again.")
                    }
                } else if (xhr.status === 401) {
                    console.log("You must login.");
                    window.location.href = "/login";   
                } else if (xhr.status === 403) {
                    console.log("You must authenticate.");
                } else if (xhr.status === 500) {
                    console.log("There was a server error. Please try again.");
                }
        }
            xhr.send(myFormData);
        }

        const tweetCreateForm = document.getElementById('tweet-create-form');

        tweetCreateForm.addEventListener("submit", handleTweetCreateSubmit);

    // Getting the HTML element
        const tweetsContainerElement = document.getElementById('tweets');
    // Setting a value to the HTML element
        // tweetsElement.innerHTML = 'Loading...';

    // Replaces both the 'Loading...' and 'Replace me' with the text from the elements.
        // var el1 = "<h1>Test 1</h1>";
        // var el2 = "<h1>Test 2</h1>";
        // var el3 = "<h1>Test 3</h1>";
        // tweetsElement.innerHTML = el1 + el2 + el3;

        function loadTweets(tweetsElement) {
            const xhr = new XMLHttpRequest();
            const method = 'GET';
            const url = '/tweets/';
            const responseType = 'json';

            xhr.responseType = responseType;
            // Open the URL (tweets) using GET
            xhr.open(method, url);
            xhr.onload = function() {
                const serverResponse = xhr.response;
                let listedItems = serverResponse;
                let finalTweet = "";
                let i;

            for (i = 0; i < listedItems.length; i++) {
                let tweetObj = listedItems[i];
                let currentItem = formatTweetElement(tweetObj);
                finalTweet += currentItem;
            }
            tweetsElement.innerHTML = finalTweet;
        }
            xhr.send();
        }

        loadTweets(tweetsContainerElement);

        function handleTweetActionBtn(tweet_id, currentCount, action) {

            const url = "/api/tweets/action";
            const method = "POST";
            const data = JSON.stringify({
                id: tweet_id,
                action: action
            });

            const csrf_token = getCookie('csrftoken');
            const xhr = new XMLHttpRequest();
            xhr.open(method, url);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
            xhr.onload = function() {
            // React.js will solve this issue having to load the tweets every time we hit like
                loadTweets(tweetsContainerElement);
            }
            xhr.send(data);
            return
        }

        // Creates the like button for each tweet with the number of likes it currently has
        function likeBtn (tweet) {
            return "<button class='btn btn-primary btn-small' onclick=handleTweetActionBtn(" +
            tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + " Unlike</button>";
        }

        function unlikeBtn (tweet) {
            return "<button class='btn btn-outline-primary btn-small' onclick=handleTweetActionBtn(" +
            tweet.id + "," + tweet.likes + ",'Retweet')>" + " Likes</button>";
        }

        function retweetBtn (tweet) {
            return "<button class='btn btn-outline-success btn-small' onclick=handleTweetActionBtn(" +
            tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + " Retweet</button>";
        }

        // Formats tweets in a way that they all have their ID in their div id, and a like button
        function formatTweetElement(tweet) {
            let formattedTweet = "<div class='col-12 py-3 mb-4 tweet' id='tweet-" + tweet.id 
            + "'><p>" + tweet.content + 
                "</p><div class='btn-group'>" +  
                    unlikeBtn(tweet) +
                    likeBtn(tweet) +
                    retweetBtn(tweet) +
                "</div></div>";
            return formattedTweet;
        }

    </script>
{% endblock %}